{% load static %}
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Website/../../static/css/style.css' %}"/>

    <title> Burke Lab </title>

</head>

<body>

<h1> Burke Lab -- University of Florida Department of Neuroscience </h1>
<p> Welcome to the home of the Burke Lab!</p>
<p>
    <a href="/Website/lab_info">About our Research</a> <br>
    <a href="/Website/lab_members">Lab Members</a> <br>
    <a href="/Website/lab_publications">Publications</a> <br>
    <a href="/Website/contact_form">Contact us</a>

</p>

</body>