{% load static %}
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{%  static 'Website/css/style.css' %}">


    <title>Lab Members</title>

</head>

<body>

<h1>Members of the Burke Lab</h1>

<table style="border-color: #778899;border-width: 0px" border="0">
<tbody>
<tr>
<td style="border: 1px solid #778899">Sara N. Burke, Ph.D.</td>
<td style="border: 1px solid #778899">Assistant Professor</td>
<td style="border: 1px solid #778899"><a href="mailto:burkes@ufl.edu" target="_blank">burkes@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Andrew Maurer, Ph.D.</td>
<td style="border: 1px solid #778899">Assistant Professor</td>
<td style="border: 1px solid #778899"><a href="mailto:drewmaurer@ufl.edu" target="_blank">drewmaurer@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Sarah Johnson</td>
<td style="border: 1px solid #778899">Postdoctoral Fellow</td>
<td style="border: 1px solid #778899"><a href="mailto:s.johnson@ufl.edu" target="_blank">s.johnson@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Sarah E. Burke</td>
<td style="border: 1px solid #778899">Graduate Student</td>
<td style="border: 1px solid #778899"><a href="mailto:saraheburke@ufl.edu" target="_blank">saraheburke@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Abigail L. Rosen</td>
<td style="border: 1px solid #778899">Graduate Student</td>
<td style="border: 1px solid #778899"> <a href="mailto:abbirosen@ufl.edu" target="_blank">abbirosen@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Jordan Reasor</td>
<td style="border: 1px solid #778899">OPS</td>
<td style="border: 1px solid #778899"><a href="mailto:jreasor@ufl.edu" target="_blank">jreasor@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Amanda Schearer</td>
<td style="border: 1px solid #778899">OPS</td>
<td style="border: 1px solid #778899"><a href="mailto:amandaschaerer@ufl.edu" target="_blank">amandaschaerer@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Nick Topper</td>
<td style="border: 1px solid #778899">OPS</td>
<td style="border: 1px solid #778899"><a href="mailto:ntopper@ufl.edu" target="_blank">ntopper@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Sean Turner</td>
<td style="border: 1px solid #778899">OPS</td>
<td style="border: 1px solid #778899"><a href="mailto:seanmturn@ufl.edu" target="_blank">seanmturn@ufl.edu</a></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Patricia Sacks</td>
<td style="border: 1px solid #778899">Student Volunteer</td>
<td style="border: 1px solid #778899"></td>
</tr>
<tr>
<td style="border: 1px solid #778899">Rodney Ndum</td>
<td style="border: 1px solid #778899">Student Volunteer</td>
<td style="border: 1px solid #778899"></td>
</tr>
</tbody>
</table>
<p><a href="https://neuroscience.sites.medinfo.ufl.edu/files/2013/12/DSCN0502_rev.jpg"><img class="  wp-image-13075 aligncenter shadow" src="https://neuroscience.sites.medinfo.ufl.edu/files/2013/12/DSCN0502_rev.jpg" alt="Burke lab members June 2015" width="725" height="407" /></a></p>


<a href="/Website">Back to Homepage</a>
</body>