{% load static %}
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'Website/../../static/css/style.css' %}">


    <title>Publications</title>
</head>
<body>

<h1>Publications</h1>
<h2>Recent Publications</h2>
<p>
Burke SN, Maurer AP, Nematollahi S, Uprety A, Wallace JL, Barnes CA. Advanced age dissociates dual functions of the perirhinal cortex. J Neurosci 2014; 34(2):467-480.
</p><p>
    Burke SN, Thome A, Plange K, Engle JR, Trouard TP, Gothard KM, Barnes CA. Orbitofrontal cortex volume in area 11/13 predicts reward devaluation, but not reversal learning performance, in young and aged monkeys. J Neurosci 2014; 34(30):9905-9916.
</p><p>
    Burke SN, Barnes CA. The neural representation of 3-dimensional objects in rodent memory circuits. Behav Brain Res 2014.
</p><p>
    Topper NC, Burke SN, Maurer AP. Multiple frequency audio signal communication as a mechanism for neurophysiology and video data synchronization. J Neurosci Methods 2014; 238:35-42.
</p><p>
    Maurer AP, Lester AW, Burke SN, Ferng JJ, Barnes CA. Back to the future: preserved hippocampal network activity during reverse ambulation. J Neurosci 2014; 34(45):15022-15031.
</p><p>
    Hartzell AL, Burke SN, HoangLT, Lister JP, Rodriguez CN, Barnes CA (2013). Transcription of the immediate-early gene Arc in CA1 of the hippocampus reveals activity differences along the proximodistal Axis that are attenuated by advanced age. Journal of Neuroscience, 33(8):3424-3433.
</p><p>
    Takehara-Nishiuchi K, Insel N, Hoang LT, Wagner Z, Olson K, Chawla MK, Burke SN, Barnes CA (2012). Activation patterns in superficial layers of neocortex change between experiences independent of behavior, environment, or the hippocampus. Cerebral Cortex, 23(9):2225-2234.
</p><p>
    Maurer AP, Burke SN, Lipa P, Skaggs WE, Barnes CA (2012). Greater running speeds result in altered hippocampal phase sequence dynamics. Hippocampus, 22(4):737-47.
</p><p>
    Burke SN, Ryan L, Barnes CA (2012). Characterizing cognitive aging of recognition memory and related processes in animal models and in humans. Frontiers in Aging Neuroscience, 4(15).
</p><p>
    Burke SN, Hartzell AL, Lister JP, Hoang LT, Barnes CA (2012). Layer V perirhinal cortical ensemble activity during object exploration: a comparison between young and aged rats. Hippocampus, 22(10):2080-93.
</p><p>
    Burke SN, Maurer AP, Hartzell AL, Nematollahi S, Uprety A, Wallace JL and Barnes CA (2012). Representation of three-dimensional objects by the rat perirhinal cortex. Hippocampus, 22(10):2032-44.
</p><p>
    Burke SN, Maurer AP, Nematollahi S, Uprety AR, Wallace JL and Barnes CA (2011). The influence of objects on place field expression and size in distal hippocampal CA1. Hippocampus, 21(7):783-801.
</p><p>
    Burke SN and Barnes CA (2010). Senescent synapses and hippocampal circuit dynamics. Trends in Neurosciences, 33(3): 153-61.
</p><p>
    BurkeSN, Wallace JL, Nematollahi S, Uprety AR and Barnes CA (2010). Pattern separation deficits may contribute to age-associated recognition deficits. Behavioral Neuroscience, 24(5): 559-573.
</p>
</body>
<br><br>

<a href="/Website">Back to Homepage</a>